# Environment & Secrets
.env
*.env

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
env
venv/
venv
.venv/
.venv
build/
dist/
*.egg-info/

# OS specific
.DS_Store
.DS_Store?
._*
Thumbs.db
